<div class="content-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-default">
          <div class="card-header card-header-border-bottom">
            <h2>Configuración de Nodos</h2>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Módulo</th>
                  <th scope="col">Número</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Activo</th>
                  <th scope="col"></th>
                  <th>
                    <button type="button" class="mb-1 btn btn-outline btn-dropbox float-right" (click)="createNewNode()">
                      <i class="mdi mdi-plus"></i>
                    </button>
                  </th>
                </tr>
                </thead>
              <tbody>
                <tr *ngFor="let node of nodes" (keyup.enter)="updateNode(node)" (keyup.esc)="cancelEdition(node)">
                  <td>
                    <span [hidden]="node['editMode']">{{ node.module }}</span>
                    <select [hidden]="!node['editMode']" class="form-control" [(ngModel)]="node.module">
                      <option [value]="module" *ngFor="let module of modules">{{ module }}</option>
                    </select>
                  </td>
                  <td>
                    <span [hidden]="node['editMode']">{{ node.number }}</span>
                    <span [hidden]="!node['editMode']">{{ node.number }}</span>
                    <input numbers-only type="number"
                           [hidden]="!(node['editMode'] && !node.id)" class="form-control"
                           [(ngModel)]="node.number"
                           required="true" />
                  </td>
                  <td>
                    <span [hidden]="node['editMode']">{{ node.description }}</span>
                    <input type="text" name="description"
                           [hidden]="!node['editMode']" class="form-control"
                           [(ngModel)]="node.description"
                           required="" />
                  </td>
                  <td class="a-center">
                    <input [hidden]="node['editMode']"
                           type="checkbox" disabled="disabled"
                           [checked]="node.isActive">
                    <input [hidden]="!node['editMode']"
                           type="checkbox"
                           [(checked)]="node.isActive" [(ngModel)]="node.isActive">
                  </td>
                  <td class="text-right">
                    <div class="dropdown show d-inline-block widget-dropdown">
                      <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdown-recent-order5"
                         data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false" data-display="static"></a>
                      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order5">
                        <li class="dropdown-item" *ngIf="!node['editMode']">
                          <a (click)="editNode(node)" href="javascript:void(0)">Editar</a>
                        </li>
                        <li class="dropdown-item" *ngIf="node['editMode']">
                          <a (click)="updateNode(node)" href="javascript:void(0)">Guardar</a>
                        </li>
                        <li class="dropdown-item" *ngIf="node['editMode']">
                          <a (click)="cancelEdition(node)" href="javascript:void(0)">Cancelar</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
