<div class="content-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-default">
          <div class="card-header card-header-border-bottom">
            <h2>Configuración de Alertas</h2>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Prioridad</th>
                  <th scope="col">Período de Tiempo</th>
                  <th scope="col">Cantidad de Repeticiones</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let severity of severities" (keyup.enter)="updateNode(severity)"
                    (keyup.esc)="cancelEdition(severity)">
                  <td>{{ severity.priority }}</td>
                  <td>{{ severity.period }}</td>
                  <td>
                    <span [hidden]="severity['editMode']">{{ severity.reps }}</span>
                    <input type="text" name="description"
                           [hidden]="!severity['editMode']" class="form-control"
                           [(ngModel)]="severity.reps"
                           required="" />
                  </td>
                  <td class="text-right">
                    <div class="dropdown show d-inline-block widget-dropdown">
                      <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdown-recent-order5"
                         data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false" data-display="static"></a>
                      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order5">
                        <li class="dropdown-item" *ngIf="!severity['editMode']">
                          <a (click)="editNode(severity)" href="javascript:void(0)">Editar</a>
                        </li>
                        <li class="dropdown-item" *ngIf="severity['editMode']">
                          <a (click)="updateNode(severity)" href="javascript:void(0)">Guardar</a>
                        </li>
                        <li class="dropdown-item" *ngIf="severity['editMode']">
                          <a (click)="cancelEdition(severity)" href="javascript:void(0)">Cancelar</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
