<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
      <li ngClass="{{active ? 'active' : ''}}"><a><i class="fa fa-home"></i> Home <span
        class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a (click)="redirectTo('/')">Paneles Solares</a></li>
          <li><a>Aerogeneradores</a></li>
          <li><a>Termotanques Solares</a></li>
        </ul></li>
      <li><a><i class="fa fa-sitemap"></i> Nodos <span
        class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a (click)="redirectTo('nodos')">Estado Nodo</a></li>
        </ul></li>
      <li><a><i class="fa fa-bell-o"></i> Alertas <span
        class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a (click)="redirectTo('alertas')">Detalle Alertas</a></li>
        </ul></li>
      <li><a><i class="fa fa-wrench"></i> Mantenimiento <span
        class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a (click)="redirectTo('mantenimiento')">...</a></li>
        </ul></li>
      <li><a (click)="redirectTo('historicos')"><i class="fa fa-bar-chart-o"></i>Históricos<span
        class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
        </ul></li>
      <li><a (click)="redirectTo('usuarios')"><i class="fa fa-group"></i>Usuarios<span
        class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
        </ul></li>
      <li><a><i class="fa fa-cogs"></i>Configuración<span
        class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a (click)="redirectTo('configuracion/umbrales')">Umbrales</a></li>
          <li><a (click)="redirectTo('configuracion/alertas')">Alertas</a></li>
          <li><a (click)="redirectTo('configuracion/nodos')">Nodos</a></li>
        </ul></li>
    </ul>
  </div>

</div>
<!-- /sidebar menu -->

