<div class="content-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-default">
          <div class="card-header card-header-border-bottom">
            <h2>Configuración de Umbrales</h2>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nombre de la Variable</th>
                  <th scope="col">Última Modificación</th>
                  <th scope="col">Valor Mínimo</th>
                  <th scope="col">Valor Máximo</th>
                  <th scope="col">Unidad de Medida</th>
                  <th scope="col">Criticidad</th>
                  <th scope="col">Activar Alertas</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let threshold of thresholds" (keyup.enter)="updateThreshold(threshold)"
                    (keyup.esc)="cancelEdition(threshold)">
                  <td>{{ variable.getHumanRedableName(threshold.variableName) }}</td>
                  <td>{{ threshold.lastModification }}</td>
                  <td>
                    <span [hidden]="threshold['editMode']">{{ threshold.minValue }}</span>
                    <input [hidden]="!threshold['editMode']" numbers-only type="number"
                           class="form-control"
                           [(ngModel)]="threshold.minValue"
                           required="" />
                  </td>
                  <td>
                    <span [hidden]="threshold['editMode']">{{ threshold.maxValue }}</span>
                    <input [hidden]="!threshold['editMode']" numbers-only type="number"
                           class="form-control"
                           [(ngModel)]="threshold.maxValue"
                           required="" />
                  </td>
                  <td>{{ threshold.unitOfMeasurement['nombre'] }}</td>
                  <td>
                    <span [hidden]="threshold['editMode']">{{ threshold.severity.priority }}</span>
                    <select [hidden]="!threshold['editMode']" class="form-control" [(ngModel)]="threshold.severity">
                      <option *ngFor="let severity of severities"
                              [ngValue]="severity"
                              [selected]="threshold.severity.id === severity.id">{{ severity.priority }}
                      </option>
                    </select>
                  </td>
                  <td class="a-center">
                    <input [hidden]="threshold['editMode']"
                           type="checkbox" disabled="disabled"
                           [checked]="threshold.isActive">
                    <input [hidden]="!threshold['editMode']"
                           type="checkbox"
                           [(checked)]="threshold.isActive" [(ngModel)]="threshold.isActive">
                  </td>
                  <td class="text-right">
                    <div class="dropdown show d-inline-block widget-dropdown">
                      <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdown-recent-order5"
                         data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false" data-display="static"></a>
                      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order5">
                        <li class="dropdown-item" *ngIf="!threshold['editMode']">
                          <a (click)="editNode(threshold)" href="javascript:void(0)">Editar</a>
                        </li>
                        <li class="dropdown-item" *ngIf="threshold['editMode']">
                          <a (click)="updateThreshold(threshold)" href="javascript:void(0)">Guardar</a>
                        </li>
                        <li class="dropdown-item" *ngIf="threshold['editMode']">
                          <a (click)="cancelEdition(threshold)" href="javascript:void(0)">Cancelar</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
