<div class="content-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-default">
          <div class="card-header card-header-border-bottom">
            <h2>Configuración de Nodos</h2>
            <app-node-selector class="col-2 float-right" (changed)="onNodeChange($event)"></app-node-selector>
            <app-severity-selector class="col-2 float-right" (changed)="onSeverityChange($event)"></app-severity-selector>
            <div class="col-2 float-right">
              <!--<div class="input-group-prepend">-->
                <!--<span class="input-group-text">-->
                  <!--<i class="mdi mdi-calendar-range"></i>-->
                <!--</span>-->
              <!--</div>-->
              <input [(ngModel)]="dateFrom" [value]="dateFrom" (blur)="getNotifications()" type="text" class="form-control" data-mask="00/00/0000" maxlength="10">
            </div>
            <div class="col-2 float-right">
              <!--<div class="input-group-prepend">-->
              <!--<span class="input-group-text">-->
              <!--<i class="mdi mdi-calendar-range"></i>-->
              <!--</span>-->
              <!--</div>-->
              <input [(ngModel)]="dateTo" [value]="dateTo" (blur)="getNotifications()" type="text" class="form-control" data-mask="00/00/0000" maxlength="10">
            </div>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Variable Afectada</th>
                  <th scope="col">Nodo</th>
                  <th scope="col">Criticidad</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Hora</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let notification of notifications">
                  <td>{{ variable.getHumanRedableName(notification.affectedVariable) }}</td>
                  <td>{{ notification.node.module + notification.node.number }}</td>
                  <td>{{ notification.severity.priority }}</td>
                  <td>{{ notification.date }}</td>
                  <td>{{ notification.hour }}</td>
                  <td class="text-right">
                    <div class="dropdown show d-inline-block widget-dropdown">
                      <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdown-recent-order5"
                         data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false" data-display="static"></a>
                      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order5">
                        <li class="dropdown-item">
                          <a (click)="getNotificationAlerts(notification)" data-toggle="modal"
                             data-target="#exampleModalGrid" href="javascript:void(0)">Ver Detalle
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Grid Modal -->
          <div class="modal fade" id="exampleModalGrid" tabindex="-1" role="dialog" aria-labelledby="exampleModalGrid" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalGridTitle">Detalles de la alerta</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="modal-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Variable Afectada</th>
                          <th scope="col">Valor</th>
                          <th scope="col">Umbral Min</th>
                          <th scope="col">Umbral Max</th>
                          <th scope="col">Nodo</th>
                          <th scope="col">Criticidad</th>
                          <th scope="col">Fecha</th>
                          <th scope="col">Hora</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let alert of notificationAlerts">
                          <td>{{ variable.getHumanRedableName(alert.affectedVariable) }}</td>
                          <td>{{ alert.value }}</td>
                          <td>{{ alert.thresholdExceeded.minValue }}</td>
                          <td>{{ alert.thresholdExceeded.maxValue }}</td>
                          <td>{{ alert.node.module + alert.node.number }}</td>
                          <td>{{ alert.severity.priority }}</td>
                          <td>{{ alert.date }}</td>
                          <td>{{ alert.hour }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="modal-footer"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
