<!-- page content -->
<div class="right_col" role="main">
  <div class="row">
    <div class="page-title">

      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>
              Detalle de alertas<small></small>
            </h2>
            <div class="clearfix"></div>
          </div>

          <div class="filter">
            <div class="pull-left">
              <label>Nodo: </label>
              <!--<select class="btn btn-default" ng-options="nodo.modulo + ' ' + nodo.numero for nodo in nodos track by nodo.id"-->
                      <!--ng-model="nodoSeleccionado">-->
                <!--<option value="">Todos</option>-->
              <!--</select>-->
            </div>
            <div class="pull-left" style="margin-left: 14px; margin-right: 14px">
              <label>Criticidad: </label>
              <!--<select class="btn btn-default" ng-options="crit.prioridad for crit in criticidades track by crit.id"-->
                      <!--ng-model="criticidadSeleccionada">-->
                <!--<option value="">Todas</option>-->
              <!--</select>-->
            </div>
            <div id="reportrange" class="pull-left"
                 style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i> <span></span> <b class="caret"></b>
            </div>
          </div>
          <!--<button type="button" class="btn btn-default pull-right" (click)="getAlertas()">Buscar</button>-->

          <div class="x_content">
            <div class="table-responsive">
              <table class="table table-striped table-bordered bulk_action">
                <thead>
                <tr class="headings">
                  <th class="column-title">Descripción</th>
                  <th class="column-title">Variable Afectada</th>
                  <th class="column-title">Nodo</th>
                  <th class="column-title">Criticidad</th>
                  <th class="column-title">Fecha</th>
                  <th class="column-title">Hora</th>
                  <th class="column-title no-link last"><span class="nobr">Acción</span>
                  </th>
                </tr>
                </thead>

                <tbody>
                <!--<tr class="even pointer" ng-repeat="alerta in alertas">-->
                  <!--<td class=" ">{{alerta.descripcion}}</td>-->
                  <!--<td class=" ">{{getHumanRedableName(alerta.variableAfectada)}}</td>-->
                  <!--<td class=" ">{{alerta.nodo.modulo + ' ' + alerta.nodo.numero}}</td>-->
                  <!--<td class=" ">{{alerta.criticidad.prioridad}}</td>-->
                  <!--<td class=" ">{{alerta.fecha | date:'dd/MM/yyyy'}}</td>-->
                  <!--<td class=" ">{{alerta.hora}}</td>-->
                  <!--<td class=" ">-->
                    <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="getDetalleAlerta(alerta)">Ver Detalle</button>-->
                  <!--</td>-->
                <!--</tr>-->

                </tbody>
              </table>

              <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">

                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span>
                      </button>
                      <h4 class="modal-title" id="myModalLabel">Detalle de la alerta</h4>
                    </div>
                    <div class="modal-body" ng-show="showDetalles">
                      <div class="table-responsive">
                        <table class="table table-striped table-bordered bulk_action">
                          <thead>
                          <th class="column-title">Descripción</th>
                          <th class="column-title">Variable Afectada</th>
                          <th class="column-title">Valor</th>
                          <th class="column-title">Umbral min</th>
                          <th class="column-title">Umbral max</th>
                          <th class="column-title">Nodo</th>
                          <th class="column-title">Criticidad</th>
                          <th class="column-title">Fecha</th>
                          <th class="column-title">Hora</th>
                          </thead>
                          <tbody class="table">
                          <!--<tr class="even pointer" ng-repeat="detalle in detalleAlerta">-->
                            <!--<td class=" ">{{detalle.descripcion}}</td>-->
                            <!--<td class=" ">{{getHumanRedableName(detalle.variableAfectada)}}</td>-->
                            <!--<td class=" ">{{detalle.valor}}</td>-->
                            <!--<td class=" ">{{detalle.umbralSuperado.valorMin}}</td>-->
                            <!--<td class=" ">{{detalle.umbralSuperado.valorMax}}</td>-->
                            <!--<td class=" ">{{detalle.nodo.modulo + ' ' + alerta.nodo.numero}}</td>-->
                            <!--<td class=" ">{{detalle.criticidad.prioridad}}</td>-->
                            <!--<td class=" ">{{detalle.fecha | date:'dd/MM/yyyy'}}</td>-->
                            <!--<td class=" ">{{detalle.hora}}</td>-->
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
